snippet ipd "ipdb breakpint" b
import ipdb; ipdb.set_trace()
endsnippet

snippet pdb "pdb breakpint" b
import pdb; pdb.set_trace()
endsnippet

snippet ss "Set file encoding" b
# -*- coding: utf-8 -*-
endsnippet
